{% extends 'blog/base.html' %}

{% block content %}
    <h1>Post List</h1>
    <ul>
        {% for post in posts %}
            <li>
                <div class="post">
                    <div class="date">
                        Published on: {{ post.published_date }}
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <img src="{{post.image.url}}" class="rounded intruder-image-list" alt="{{post.title}}">
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
